#[General]
#   python cache file adn directory
*.pyc
__pycache__
#[Development]
#   bat file to boost 
*.bat
#   just simplify my brain. put pictures generated in draw.io
overall
# vertial environment
.venv
# VSCode configs
.vscode 