[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
requests = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.9"
