[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
requests = "*"
jinja2 = "*"
aiofiles = "*"
python-jose = "*"
passlib = "*"
python-multipart = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.8"
