<header>
  <div class="card-header">
    <div class="card text-center">
      <ul class="nav nav-tabs card-header-tabs" display='flex'>
        <li class="nav-item" display="inline">
          <a class="nav-link" id='navi-home-tab' role="tab" data-toggle="tab" area-selected = "true" name='Home'>Home</a>
        </li>
        <li class="nav-item" display="inline">
          <a class="nav-link" id='navi-play-tab' role="tab" data-toggle="tab" name='Play'>Play</a>
        </li>
        <li class="nav-item" display="inline">
          <a class="nav-link" id='navi-history-tab' role="tab" data-toggle="tab" name='History'>History</a>
        </li>
        <li class="nav-item" display="inline">
          <a class="nav-link" id='navi-history-tab' aline='left' name='Signin'>
            <button type="button" class="btn btn-info" onclick="location.href='/login'">[[master.sign]]</button>
        </a>
        </li>
      </ul>
    </div> 
  </div>
</header>