{% extends "base.html" %}
{%block body %}
<div id = "index">
      [[message]]
      <br>
      [[text]]
      <br>
      {{text}}
      <br>
      <button type="button" class="btn btn-primary"  onclick="location.href = '/'">For first</button>
      <button type="button" class="btn btn-primary" onclick="location.href = '/login'">For test</button>
      <form>
            <div class="form-group row">
                  <label for="inputPassword" class="col-lg-2 col-form-label">[[placeholder]]</label>
                  <div class="col-sm-10">
                        <input class="form-control" id="inputPassword" v-bind:placeholder="placeholder">
                  </div>
            </div>
      </form>
</div>
{% endblock %}
