{% extends "base.html"%}
{% block body %}
      <form target="AT">
            <div class="form-group row">
                  <div class="col-sm-10">
                        <label for="inputName" class="col-lg-2 col-form-label">Name</label><input class="form-control" id="inputName" name="username" placeholder="Enter your Name">
                  </div>
                  <div class="col-sm-10">
                        <label for="inputPassword" class="col-lg-2 col-form-label">Password</label><input class="form-control" type="password" id="inputPassword" name= "password" placeholder="Enter password">
                  </div>
            </div>
            <button type="submit" formmethod="post" formenctype="multipart/form-data" class="btn btn-primary" formaction="/token">Submit</button>
            <iframe name="AT" id="acces" placeholder="accesstokens"></iframe>
            
      
      </form>
      <button v-on:click="send_request('/users/me')">me</button>
      <button v-on:click="send_request('/activities')">activity</button>
      <input id=token placeholder="enter accesstoken">token
[[master.message]]
<br>
[[master.accesstoken]]
<br>
[[master.getdata]]
<br>
{% endblock%}
