<script>
      var header = new Vue({
            delimiters:['[[',']]'],
            el:"#headers",
            data:{
                  Navbar:"navbar",
                  Nav1:"home",
                  Nav2:"users",
                  Nav3:"login"
            }
      })

      var index = new Vue({
            delimiters:['[[',']]'],
            el:"#index",
            data:{
                  message:"vue_app",
                  text:"this is text",
                  placeholder:"Home"
            }
      })
      ;
</script>