<script>
      window.onload=function(){
      var vm = new Vue({
            delimiters:['[[',']]'],
            el:"#app",
            data:{
                  Navbar:"navbar",
                  master:{
                        name:"",
                        text1:"",
                        text2:"",
                        getdata:"",
                        postdata:"",
                        accesstoken:""
                  },
                  templates:[
                        {
                              name:"Home",
                              text1:"This is Home",
                              text2:"chill"
                        },
                        {
                              name:"Users",
                              text1:"This is Users",
                              text2:"yamm"
                        },
                        {
                              name:"Login",
                              text1:"This is login",
                              text2:"yaha"
                        }
                  ]
            },
            methods:{
                  change_master:function (name){
                        for(var i in this.templates){
                              d = this.templates[i]
                              if(d.name==name){
                                    this.master.name=d.name
                                    this.master.text1=d.text1
                                    this.master.text2=d.text2
                              }
                        }
                  },
                  get_accesstoken: async function (url){
                        const formdata = new FormData()
                        formdata.append('username',"test")
                        formdata.append('password',"test")
                        const response = await axios.post(url,formdata).then(
                              this.master.accesstoken = response.access_token
                        )
                  },
                  get_json_data: async function(url){
                        const response = await axios.get(url,{
                              headers:{
                                    Authorization: "OAuth " + vm.master.accesstoken
                              }
                              
                        }).then(
                        this.master.getdata=response.data
                        )
                  }
            }
      })
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            vm.change_master(e.target.name)})
      }
</script>