<script>
      var header = new Vue({
            delimiters:['[[',']]'],
            el:"#headers",
            data:{
                  Navbar:"navbar",
                  Nav1:"home",
                  Nav2:"users",
                  Nav3:"login"
            }
      })

      var index = new Vue({
            delimiters:['[[',']]'],
            el:"#index",
            data:{
                  "users":{
                        message:"this is Users",
                        text:"this is Users-text",
                        placeholder:"username"
                  },
                  "basics":{
                        message:"this is Basic",
                        text:"this is Basic-text",
                        placeholder:"basic"
                  },
                  "login":{
                        message:"this is Login",
                        text:"this is Login-text",
                        placeholder:"login"
                  }
                  
            }
      })
      ;
</script>